/* Assigns #3D3D3D to HTML tags <body> and <p>
   And defines background colors  */
$primary-text-color: #3D3D3D;
$primary-bg-color: #6D6D6D;

body, p {
    color: $primary-text-color;
}

body, h2 {
    background-color: $primary-bg-color;
}